* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(124, 124, 124);
    color: whitesmoke;
}

header {
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
    padding: 1em;
}

section {
    margin-top: 2em;
}

.categories {
    height: auto;
    display: flex;
    white-space: nowrap;
    overflow: auto; 
}

.card {
    flex-shrink: 0;
    margin-right: 1em;
    color: black;
    text-align: center;
}

.card:hover {
    color: white;
    background-color: rgb(36, 36, 36);
}

.playlists {
    height: auto;
    display: flex;
    white-space: nowrap;
    overflow: auto; 
}